.Buttons
{
  &-row
  {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  &-roll
  {
    @include button($green-1, $green-2);
  }

  &-keep
  {
    @include button($red-1, $red-2);
  }
}