.Modal
{
  &-overlay
  {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  &-box
  {
    background-color: $white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 300px;
    width: calc(100% - 32px);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    z-index: 2;
  }

  &-text
  {
    margin-top: 48px;
    text-align: center;
  }

  &-buttonRow
  {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: auto;
  }

  &-resetButton
  {
    @include button($blue-1, $blue-2);

    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
